/*Mike Hedges personal portfolio website
3/26/2022*/

/*
Title of Page: Mike Hedges' Portfolio
Description: A website to showcase my frontend skills
Author: Mike Hedges
Author Email: mike.hedges821@gmail.com
*/

*{
	box-sizing: border-box;
}

body {
	background-color: #5a9146;
	background-image: linear-gradient(to bottom, #ffffff, #5a9146);
	background-repeat: no-repeat;
	font-family: "Times New Roman", serif;
}

header {
	background-size: 50%;
	background-color: #2319C7;
	padding: 1px 2%;
	position: fixed;
	z-index: 10;
	width: 84%;
	top: 0;
}

h1 {
	color: white;
	text-shadow: 1px 1px 3px #000;
	font-size: 275%;
}

p{
	text-align: center;
	padding: 0 25%;
}

figure{
	text-align: center;
	position: relative;
	margin-bottom: 10%;
}


footer {
	text-align: center;
	font-size: small;
	padding: 10px 0;
	border: 3px groove #AAD799;
	border-radius: 7px;
}

footer a{
	text-decoration: none;
}

footer a:hover {
	color: aqua;
}

nav{
	padding: .25% 0;
}

nav ul {
	list-style-type: none;
	text-align: center;
	font-size: 1.5em;
	margin: 10px;
	padding: 5px;
}

nav li {
	display: inline;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border-left: 1px solid #091d02;
	border-right: 1px solid #091d02;
}

nav a:hover {
	color: darkblue;
	background-color: #fff;
}




/*--IDs--*/
#container {
	background-color: #ddfad3;
	width: 85%;
	margin: 0 auto;
}



/*--Classes--*/
.top{
	padding-top: 20%;
}

.pHeader {
	text-align: left;
	color: #fff;
	font-size: 125%;
	margin-top: -2%;
	margin-left: -25%;
	text-shadow: 1px 1px 3px #000;
}

.pHeader a:link{
	color: #fff;
	text-decoration: none;
}

.pHeader a:hover{
	color: #ffd800;
}



.navContainer{
	background-color: darkblue;
}

.center{
	text-align: center;
}

.centerPic{
	display: block;
	margin: 0 auto;
	width: 50%;
}


/*--Smartphone Display--*/
@media only screen and (max-width: 37.5em) {
	//reminder: add rulesets in between the curly braces 
	#container {
		margin: 0 auto;
		width: auto;
		background-color: #fff;
		
	}

	.top {
		padding-top: 5%;
	}

	header {
		position: relative;
		z-index: 0;
		width: 84%;
		top: 0;
	}

 

	body {
		background-color: #fff;
		background-image: none;
		padding-top: 10%;
	}

	header {
		width: 100%;
	}

	main {
		width: 100%;
	}

	img{
		width: 50%;
		height: 50%;
	}

	nav a {
		display: block;
		border: none;
		border-bottom: 2px solid #000;
	}

	nav li {
		display: block;
	}

	nav ul {
		text-align: center;
	}



	
/*Media queries require a closing brace*/	
}

/*--Tablet Display--*/
@media only screen and (max-width: 64em) {

	#container {
		margin: 0 auto;
		width: auto;
		background-color: #fff;
	}

	.top {
		padding-top: 5%;
	}

	header {
		position: relative;
		z-index: 0;
		width: 84%;
		top: 0;
	}
 

	body {
		background-color: #fff;
		background-image: none;
	}

	header{
		width: 100%;
	}

	main {
		width: 100%;
		
	}

	nav, nav ul, nav li {
		margin-top: 1px;
		margin-bottom: 5px;
	}

	nav a {
		display: block;
		border: none;
		border-bottom: 2px solid #000;
	}

	nav li {
		display: block;
	}

	nav ul {
		text-align: center;
	}



	/*Media queries require a closing brace*/
}
