/*Mike Hedges resume and portfolio website
updated 9/9/2022*/

/*
Title of Page: Mike Hedges' Portfolio
Description: A website to showcase my frontend skills
Author: Mike Hedges
Author Email: mike.hedges821@gmail.com
*/


*{
	box-sizing: border-box;
}

header {
	
}

h1 {
	color: black;
	font-size: 40pt;
	font-family: Bahnschrift, Arial;
	text-align: center;
	padding-top: 2%;
	z-index: 10;
	position: relative;
}

h2 {
	color: black;
	font-size: 20pt;
	font-family: Bahnschrift, Arial;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.35);
	padding-top: 2.5%;
	padding-bottom: 1.5%;
	margin-top: -2%;
	border: 2px solid #F8B000;
}

h3{
	padding-top: 5%;
	margin-bottom: -2%;
	font-family: Dubai, Arial;
	font-size: 20pt;
}

p, li{
	font-family: Arial;
}

footer {
	text-align: center;
	font-size: small;
	padding: 10px 0;
	border: 3px groove #F8B000;
	border-radius: 7px;
	margin-top: 30%;
}

footer a{
	text-decoration: none;
}

footer a:hover {
	color: aqua;
}

footer a:active{
	color: yellow;
}

footer a:visited{
	color: green;
}

nav ul {
	list-style-type: none;
	text-align: center;
	font-size: 1.5em;
	margin: 10px;
	padding: 5px;
}

p a:hover, .contactInfo li a:hover, .resumeLink a:hover {
	color: cadetblue;
}

p a:active, .contactInfo li a:active, .resumeLink a:active{
	color: yellow;
}

iframe{
	display: inline-flex;
	text-align:center;
}

canvas {
	display: block;
	margin: .5% auto;
	border: 3px green solid;
}

nav li {
	display: inline;
}

nav a {
	color: #000;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border-left: 1px solid #091d02;
	border-right: 1px solid #091d02;
}

nav a:hover {
	color: #000;
	background-color: #fff;
}

img:hover {
	box-shadow: 0 0 2px 1px blue;
}

/*--Table--*/
table {
	border: 2px solid #F8B000;
	margin-top: 1.5%;
	text-align: center;
	font-size: 1.25em;
}

thead, tfoot {
	font-weight: bold;
	background-color: #999;
}

td, th {
	border: 1px solid #aad799;
	padding: 9px;
}

tr:nth-of-type(even) {
	background-color: rgba(235, 235, 235);
}



/*--IDs--*/
#container {
	width: 85%;
	margin: 0 auto;
}

#tvCareerContainer {
	width: 60%;
	margin: 0 auto;
}

#educationContainer{
	width: 60%;
	margin: 0 auto;
}

#rightCol {
	float: right;
	position: relative;
	text-align: left;
	width: 70%;
	padding-left: 2%;
	border-left: 4px groove #F8B000;
}

#leftCol{
	text-align: right;
	padding-right: 72%;
	padding-top: 2%;
}

/*--Classes--*/
.myName {
	border: 2px solid #F8B000;
	border-radius: 7px;
	padding: 2% 3%;
	background-color: rgba(235, 235, 235);
}

.navContainer{
	float: right;
	margin-top: -85px;
	font-size: 72%;
}

.emmyPic{
	display: block;
	margin-left: 25px;
	width: 25%;
	float: right;
	text-align: left;
}

.emmyLeft {
	display: block;
	width: 25%;
	float: left;
	margin-top: 7%;
}

.marginTop10{
	margin-top: 10%;
}

.marginLeft5{
	margin-left: 5%;
}

.marginTopMinus2{
	margin-top: -2%;
}

.rightFloat{
	float: right;
}

.leftFloat{
	float: left;
}

.clearFloat{
	float: none;
}

.removeBullet{
	list-style-type: none;
}

.resumeLink a{
	color: black;
}

.videoWrapper{
	position: relative;
	height: 0;
	padding-bottom: 56.25%; /*16:9*/
	aspect-ratio: 16 / 9;
	width: 100%;	
	margin-bottom: -35%;
	margin-left: 32%;
}

.videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 35%;
}


/*--Smartphone Display--*/
@media only screen and (max-width: 37.5em) {
	/*reminder: add rulesets in between the curly braces*/
	#container {
		margin: auto;
		width: auto;
		background-color: #fff;
	}

	header {
		width: 100%;
	}

	h1{
		font-size: 275%
	}


	h2 {
		color: black;
		font-size: 150%;
		font-family: Bahnschrift, Arial;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.35);
		padding-bottom: 1.5%;
		padding-left: 0;
		border: 2px solid #F8B000;
	}

	h3{
		font-size: 135%;
	}

	main {
		width: 100%;
	}

	img{
		width: 50%;
		height: 50%;
	}

	nav a {
		display: block;
		border: none;
		border-bottom: 2px solid #000;
	}

	nav li {
		display: block;
	}

	nav ul {
		text-align: center;
	}

	ul li{
		margin-left: 3%;
	}

	table{
		text-align: left;
	}

	.myName {
		border: 2px solid #F8B000;
		border-radius: 7px;
		padding: 2% 3%;
		background-color: rgba(235, 235, 235);
	}

	.navContainer {
		float: none;
		margin-top: 0;
	}

	.notForMobile{
		display: none;
	}

	.noVideo{
		display: none;
	}

	#leftCol {
		text-align: left;
		padding-left: 2%;
	}

	#rightCol {
		float: none;
		position: relative;
		text-align: left;
		width: auto;
		padding-left: 3%;
		padding-right: 3%;
		border-left: none;

	}

	#leftCol {
		text-align: left;
		padding-right: 2%;
		padding-top: 0;
	}

	#educationContainer{
		width: 100%;
		margin: auto;
	}



	
/*Media queries require a closing brace*/	
}

/*--Tablet Display--*/
@media only screen and (max-width: 64em) {

	#container {
		margin: 0 auto;
		width: 90%;
		background-color: #fff;
	}

	header {
		width: 100%;
	}

	h1 {
		font-size: 275%
	}


	h2 {
		color: black;
		font-size: 150%;
		font-family: Bahnschrift, Arial;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.35);
		padding-bottom: 1.5%;
		padding-left: 0;
		border: 2px solid #F8B000;
	}

	h3 {
		font-size: 135%;
	}

	main {
		width: 100%;
	}

	img {
		width: 50%;
		height: 50%;
	}

	nav a {
		display: block;
		border: none;
		border-bottom: 2px solid #000;
	}

	nav li {
		display: block;
	}

	nav ul {
		text-align: center;
	}

	ul li {
		margin-left: -7%;
	}

	.myName {
		border: 2px solid #F8B000;
		border-radius: 7px;
		padding: 2% 3%;
		background-color: rgba(235, 235, 235);
	}

	.navContainer {
		float: none;
		margin-top: 0;
	}

	.notForMobile {
		display: none;
	}



	#leftCol {
		text-align: left;
		padding-left: 2%;
	}

	#rightCol {
		float: none;
		position: relative;
		text-align: left;
		width: auto;
		padding-left: 3%;
		padding-right: 3%;
		border-left: none;
	}

	#leftCol {
		text-align: left;
		padding-right: 2%;
		padding-top: 0;
	}

	/*Media queries require a closing brace*/
}

@media only screen and (max-width: 1040px) {
	.noGame{
		display: none;
	}
}
